.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;flex-wrap: wrap;
  justify-content: center;
  align-items: center;gap: 20px;
}
.Movie-wrapper {
  color: black;
  width: 500px;
  background: antiquewhite;
}

.Movie-search {
  height: 48px;width: 470px;
  margin-bottom: 32px;
  font-size: 24px;
  padding: 16px;
}

.Movie-title {
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
}
.Movie-date {
  margin-top:26px;
  font-style: italic;
}

.Movie-rate {
  color:red;
  margin-bottom:24px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  padding: 5px 10px; font-size: 15px;
  background: #0068df;color: white;
  border: none;
  border-radius: 2px;cursor:help;
}